*{margin: 0px;
    padding: 0px;
}
body{
    background:rgb(245, 245, 245);
  margin-left: 15%;
  
}

/* shared stuff */
.btn:hover{
    transform: scale(1.1);
color: rgb(20, 21, 20);
}
.btn {
    background: rgb(0, 106, 80);
    border-radius: 8px;

    color: aliceblue;
    padding: 17px 34px 17px 34px;
    border: none;
    cursor: pointer;
}
/* first page */
.sign-in:hover{
    transform: scale(1.1);
color: rgb(0, 0, 0);
}
.sign-in{
    cursor: pointer;
}



.bd-2 {
    display: flex;
    background: rgb(198, 228, 214);
    width: 1280px;
height: 560px;
margin: 80px 0px;
    
border-radius: 24px;
}

.imgone {
    width: 474.03px;
    height: 329.21px;
    left: 157.37%;
}

.bd-2-main{
padding-top: 100px;
padding-bottom: 117px;
width: 622px;
height: 326px;
margin: 0px 64px;

}
.bd-2-main-2{   
    padding:80px 118px 80px 64px ;
}

.bd-2-main-p{
    color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
width: 622px;
height: 29px;
margin: 16px 0px;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;

}

.bd-2-main-heading{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    width: 622px;
height: 201px;
margin: 16px 0px;

}

.bd-2-main-btn{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}


/* section second  */


.pillars-1:hover{
    transform: scale(1.1);
color: rgb(73, 65, 65);
}
.pillars{
    display: flex;
    gap: 24px;



}
.pillars-1{
    padding: 24px;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
width: 302px;
height: 244px;
cursor: pointer;

}

/* third visoin-section */
.visoin-section{
    margin-top: 80px;
    width: 1280px;
height: 765px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding: 0px;
}

.vision-h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;  
}
.vision-para{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.vision-box{
    display: flex;
    width: 1280px;
height: 325px;
gap: 24;
align-items: center;
}
.bg-green{
    background: rgb(198, 228, 214);
}
.bg-yellow{
    background: rgb(247, 235, 207);
}
.bg-blue{
    background: rgba(84, 144, 245, 0.2);
}
.vision-box-1{
    box-sizing: border-box;
border-radius: 16px;


width: 410.67px;
height: 325px;
margin: 32px 24px;
padding: 32px;


}

.vision-box-heading{color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 12px 0px;

}
.vision-box-para{color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 12px 0px;
}
.btn-vision:hover{
    transform: scale(1.1);
color: rgb(0, 0, 0);
}
.btn-vision{
    border-radius: 8px;
    border: none;

    background: rgb(84, 144, 245);
    padding: 11px 20px 11px 20px;
    width: 122px;
    height: 41px;
        color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
}







.vision-2{
width: 1280px;
height: 256px;


margin: 32px 24px;
margin-bottom: 80px;

box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;


background: rgb(255, 255, 255);
background-image: url(../assets/quote-bg.png);
background-repeat: no-repeat;
background-position: top left;
background-position-x: 20px;
background-position-y: 10px;

padding: 20px 24px 48px 24px;



}

.visoin-2-pera{
   
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
width: 1232px;
height: 96px;
margin: 12px 0px;
}

/* .for-bg-vision{
    background-image: url(../assets/quote-bg.png);
    background-repeat: ;
    background-position: top left;
} */

.visoin-2-heading{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 4px 0px;

   
}
.visoin-2-last-pera{
    width: 1232px;
    height: 24px;
    margin: 4px 0px;
    color: rgba(14, 14, 14, 0.6);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

}



/* forth section */
.openion-main{
    width: 1280px;
height: 481px;
margin: 80px 0px;
}

.openion-main-h1{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
.openion-table{

width: 1240px;
height: 409px;
padding: 32px;
margin: 24px 0px;
border-radius: 16px;

background: rgb(255, 255, 255);

}

.openion-table-heading{
    width: 1219px;
    height: 72px;
padding: 24px;
margin: -1px 0px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(198, 228, 214);
display: flex;
flex-direction: row;
justify-content: space-between;
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

}

.openion-table-heading-1{
    width: 1017px;
height: 92px;
padding: 24px;
text-align: left;
margin: 0px -1px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgba(255, 255, 255, 0.1);

color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;  
  

}

.for-btn{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgba(255, 255, 255, 0.1);
width: 200px;
height: 92px;
}
.btn-openion-table:hover{
    transform: scale(1.1);
color: rgb(0, 0, 0);
}
.btn-openion-table{

width: 152px;
height: 44px;
gap: 12;
padding: 10px 14px 10px 14px;


flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
box-sizing: border-box;
border: 1px solid rgb(14, 14, 14);
border-radius: 4px;

background: rgb(198, 228, 214);
cursor: pointer;
}

 /* 5th section (recent news) */

.sec-5th-m{
    width: 1280px;
height: 1006px;
margin-top: 120px;


}


.sec-5th-sm-h{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size:40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;


}

.section-5th-main-pera{
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

}

.section-5th-box{
    border-radius: 24px;
    margin: 24px 0px;
background: rgb(255, 255, 255);
padding: 48px;
display: flex;
 


}


.section-5th-box-img:hover{
    transform: scale(1.1);
}
.section-5th-box-img{
    width: 408px;
height: 306px;

border-radius: 24px;
cursor: pointer;

 
}


.section-5th-box-des{
    width: 744px;
    height: 290px;
    margin: 0px 32px;
}
.section-5th-box-des-h{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0%;
text-align: left; 
}
.btn-sec-5:hover{
    transform: scale(1.2);
color: rgb(90, 45, 45);
}
.btn-sec-5{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 500;
text-align: left;  
background: rgb(0, 106, 80);
border-radius: 8px;
margin-bottom: 56px 0px;
color: aliceblue;
padding: 13px 26px 13px 26px;
border: none;
cursor: pointer;
}


/* section 6 donate today */

.sec-6-m{
    /* Frame 2087325516 */
position: static;
width: 1280px;
height: 464px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
/* margin-top: 80px; */


/* Inside Auto Layout */
flex: none;
order: 4;
flex-grow: 0;
}

.sec-6-heading{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
}



.sec-6-pera{color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    width: 1104px;
height: 40px;

}

.donate-class{
    width: 1071px;
height: 128px;
margin: 32px 0px;
display: flex;
}
.bg-donate{
    background: rgb(198, 228, 214);
}
.bd-white{background: rgb(255, 255, 255)}

.donate-btn-1:hover{
    transform: scale(1.1);
color: rgb(0, 0, 0);
}

.donate-btn-1{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
/*     
    background: rgb(255, 255, 255); */
   

/* Frame 2087325513 */
position: static;
width: 245px;
height: 128px;
/* Auto layout */

gap: 20;
padding: 40px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 20px;

color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 35px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
cursor: pointer;

}

.btn-sec-6:hover{
    transform: scale(1.1);
color: lightgreen;
}
.btn-sec-6{

/* Frame 2 */
position: static;
width: 151px;
height: 56px;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 17px 34px 17px 34px;

flex: none;
order: 3;
flex-grow: 0;
margin: 32px 0px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;

background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-weight: 600;
cursor: pointer;
}

.donate-amount{
    box-sizing: border-box;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
width: 1032px;
height: 64px;
padding: 20px 40px 20px 40px;
border: none;
text-align: center;
color: rgba(14, 14, 14, 0.3);
font-family: Fira Sans;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
}
/* section 7 */

.sec-7-main{

width: 1280px;
height: 295px;
padding: 80px 0px 80px 0px;
margin: 80px 0px;
text-align: center;

border-radius: 24px;
background: rgb(198, 228, 214);


}

.sec-7-heading{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}

.sec-7-pera{
color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
text-align: center;
margin: 16px 0px;
}


.sec-7-challenge{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.sec-7-input{
    padding: 18px 40px 18px 40px;
    color: rgba(14, 14, 14, 0.3);

font-size: 16px;
font-weight: 400;

border: none;
border-radius: 8px 0px 0px 8px;
background: rgb(255, 255, 255);

}
.sec-7-submit{
    padding: 18px 40px 18px 40px;
    border-radius: 0px 8px 8px 0px;

background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
border: none;
cursor: pointer;
}
.sec-7-submit:hover{
    transform: scale(1.1);}

.sec-7-lastpera{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
margin: 24px 0px;
}

/* footer-last section */


.footer-last-section{
   background: rgb(255, 255, 255);
   width: 1280px;
height: 226px;

}
.footer-h{
    text-align: center;
    margin: 16px 0px;
    padding-top:50px ;
    color: rgb(14, 14, 14);
font-size: 38px;
font-weight: 700;


}

.hr-class{
    border: 1px solid rgba(14, 14, 14, 0.1);
    width: 980px;
    margin-left: 15%;
}
.div-img{  
    display: flex;
    justify-content: center;
    margin: 37px;
    
}
footer div img{
    margin-left: 23px;
    margin-right: 23px;
    cursor: pointer;
}
footer div img:hover{
    transform: scale(1.1);
}